[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".bungler"]
	path = .bungler
	url = https://github.com/ahawthorne/bungler.git
